@import "vars";

.about {
  height: 70vh;
  position: relative;
  padding-top: 15vh;

  font-family: $font-family;

  &__title {
    border: 1px solid white;
    position: relative;
    overflow-wrap: break-word;
    font-size: 4rem;
    margin-bottom: 3rem;
    padding-left: 20vw;
  }

  &__text {
    border: 1px solid white;
    z-index: 2;
    line-height: 30px;
    position: relative;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    width: 50rem;

    padding-left: 20vw;
  }

  &__image {
    z-index: 1;
    position: absolute;
    right: 20vw;
    bottom: 0;
    max-width: 30rem;
  }
}

.upsidedown {
  position: absolute;
  top: 0;
  width: 100vw;
  height: fit-content;
}

.dark-clouds {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: auto;
}

.clouds {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: auto;
  opacity: 0.95;
}
