@import "vars";

.about {
  overflow: clip;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    height: 100%;
    position: relative;
    padding-top: 15vh;
  }

  &__image {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 30rem;
    transform: translate(15%);
  }

  &__title {
    overflow-wrap: break-word;
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  &__text {
    z-index: 2;
    position: relative;
    margin-left: 0;
    height: fit-content;
    a {
      color: $color-primary;
      text-decoration: underline;
      text-decoration-thickness: 0.2rem;
    }

    p {
      font-size: 1.25rem;
      line-height: 30px;
      margin-bottom: 1rem;
    }
  }
}

.dark-clouds {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100vw;
  min-width: 1280px;
  height: auto;
}

.clouds {
  position: absolute;
  bottom: 0;
  width: 100vw;
  min-width: 1280px;
  height: auto;
  opacity: 0.95;
}

@media all and (max-width: 480px) {
  .dark-clouds {
    min-width: 2560px;
  }

  .clouds {
    min-width: 2560px;
  }
  .about {
    height: 1280px;
    &__image {
      z-index: 0;

      position: relative;
      top: 200px;
      right: 0;
      max-width: 30rem;

      transform: translate(30%);
    }

    &__text {
      margin: 1rem;
    }
  }
}

@media all and (min-width: 480px) and (max-width: 1024px) {
  .about {
    padding: 0 1rem;
    min-height: 800px;
    &__text {
      min-height: fit-content;
      max-width: 50%;
    }
  }
}

@media all and (min-width: 1024px) {
  .about {
    &__text {
      height: 100%;
      width: 65%;
      top: 100px;

      padding-top: 10rem;
    }

    &__content {
      padding: 0 20px;
      max-width: 1024px;
    }
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  transform-origin: 70% 70%;
  display: inline-block;
}

.wave:hover {
  animation-play-state: running;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
