@import "vars";

.article {
  margin-top: 5vh;
  &__title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    font-family: $font-family;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: $color-primary;
      text-underline-offset: 2px;
    }
  }

  &__excerpt {
    margin: 1rem 0;
  }
}
