@import "vars";

.layout {
  overflow-y: auto;
  overflow-x: clip;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  color: $color-text;
  font-family: $font-family;
  font-weight: $font-weight-light;
  font-size: $font-size;
  a {
    color: $color-text;
    font-family: $font-family-spicy;
    font-weight: $font-weight-medium;
  }
  h2 {
    color: $color-secondary;
    font-size: 1rem;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    font-family: $font-family;
  }
  b {
    color: $color-primary;
  }
}

.header {
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 8vh;
  position: fixed;
  top: 0;
  opacity: 0.8;
  padding: 0 $view-padding-x;
  display: flex;
  flex-direction: row;
  background: #000529;
  width: 100vw;

  &__home {
    padding-right: 3em;
    font-size: 2.5rem;
    font-weight: $font-weight-boldest;
    a {
      color: $color-primary;
    }
  }
}

.footer {
  overflow: clip;
  height: 35vh;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__links {
    width: fit-content;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 0.45rem;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }

  &__clouds {
    position: absolute;
    top: 0;
    width: 100vw;
    min-width: 2560px;
    height: fit-content;
    z-index: 1;
  }

  &__contact {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vh $view-padding-x;
    background: #000529;
  }
}

.content {
  width: 100vw;
  height: fit-content;
  box-sizing: border-box;
  font-family: $font-family;
}

@media all and (max-width: 480px) {
  .header {
    padding: 1rem;
    height: 5vh;
    &__home {
      width: 100%;
    }
  }

  .footer {
    height: 720px;
    &__contact {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      height: 200px;
    }
  }
}
