.experience {
  border: 3px solid white;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}

.resume {
  grid-column: 1;
  grid-row: 1 / 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.work {
  position: relative;

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;

  box-sizing: border-box;
  height: 60vh;
  width: 100%;
  padding: 5vh 20vh;

  background: #00052a;

  &__description {
    flex: 3;
  }

  a {
    color: $color-primary;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
  }
  b {
    color: $color-primary;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }

  h6 {
    color: $color-primary;
    font-size: 1.5rem;
  }
}

.card {
  border-radius: 1rem;
  padding: 1.3rem;
  background: #0a2347;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 480px) {
  .work {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
}
