@import "./vars.css";

.about {
  height: 95vh;
  position: relative;

  font-family: var(--font-family);
  padding: 8vh 0;
}

.about__title {
  position: relative;
  overflow-wrap: break-word;
  font-size: 4rem;
  margin-bottom: 3rem;
  max-width: 50%;
  padding-left: 20vw;
}

.about__text {
  z-index: 2;
  line-height: 30px;
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  width: 50rem;
  max-width: 70%;
  padding-left: 20vw;
}

.about__image {
  z-index: 1;
  position: absolute;
  right: 20vw;
  top: 8vh;
  max-width: 30rem;
}

.upsidedown {
  position: absolute;
  top: 0;
  width: 100vw;
  height: fit-content;
}

.dark-clouds {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: auto;
}

.clouds {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: auto;
  opacity: 0.95;
}
